body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}


h1,
h2,
p {
  margin-top: 0;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10px;
  background-color: #5d4954;
  font-family: 'Poppins', sans-serif;
}

.container {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 25px;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  width: 30%
}


.navbar-links li {
  list-style: none;
}


.navbar-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}


h1 {

  -webkit-animation: fadein 5s;
  /* safari, chrome & opera */
  -moz-animation: fadein 5s;
  /* firefox */
  -ms-animation: fadein 5s;
  /* IE */
  -o-animation: fadein 5s;
  /* Opera */
  animation: fadein 5s;
}



@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* IE */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* OPERA */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


p {
  font-size: 20px;
}


header {
  padding: 10px;
  background: #EF0107;
  text-align: center;
}



.btn {
  display: inline-block;
  padding: 50px 50px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  margin-left: 200px;
  margin-top: 100px;
}



.quote {
  text-align: center;
  font-size: 20px;  


}

.page2-container {
  width: 550px;
  margin: 0;
}

.github {
  width: 50%;
}



.codepen {
  width: 20%;

}